

<body>
    <div class="container mt-3 " style="width: 700px;">
      <form [formGroup]='registrationPage' >
          <h2 class="  mt-3 row d-flex justify-content-center">User Form</h2>
    <div>

      <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <table class="table table-bordered" style="width:100px;">
        <div *ngFor="let question of questions" class="form-row">
          <app-dyanmic [question]="question" [form]="form"></app-dyanmic>
        </div>
      </table>

        <div class="form-row" style="margin-left:300px ;">
          <button type="submit" [disabled]="!form.valid">Submit</button>
        </div>
      </form>
    
      <div *ngIf="payLoad" class="form-row" style="width: 420px;">
        <strong>Saved the following values</strong><br>{{payLoad}}
      </div>
    </div>

  </form>
</div>


    
    </body>