
  <div style="width: 700px;">
   
    <table class="table table-bordered" >
    <h4 class='text-white bg-primary' > Rich Filter Data Bar Chart</h4>
    <canvas
        baseChart
        [chartType]="'bar'"
        [datasets]="chartData"
        [labels]="labels"
        [options]="chartOptions"
        [legend]="true"
        [colors]="colors"
        >
    </canvas>
    <!-- <pre class='tex-black' >     Mar 2017                         |                       April 2017 </pre> -->
    <pre class='tex-black'align="center" >Mar 2017   |              April 2017 </pre>
    </table>
  </div>