<h1 class="text-center mt-5">Employee Details</h1>
<div >
<table class="table table-dark mt-3" style="width:900px;margin-left: 500px;">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Carry</td>
        <td>the Bird</td>
        <td>@face</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>sai</td>
        <td>kumar</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>Lahari</td>
        <td>the Bird</td>
        <td>@fat</td>
      </tr>
    </tbody>
  </table>
</div>