

  <h1 class="text-info">  Products Details</h1>
    <table class="table table-bordered" met=3>
      <thead>
        <tr class="bg-success">
          <th>Id</th>
          <th>ProductCode</th>
          <th>ProductName</th>
         
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          
              <td>
                  <a >{{product.productId}}</a>
                </td>
                <td>{{product.productCode}}</td>
          <td>{{product.productName | uppercase}}</td>
          
          <td>{{product.price | currency:'INR'}}</td>
        </tr>
      </tbody>
    </table>
  
 