
<div style="width: 1500px;">
  <!-- <table class="table table-bordered"style="background-color: aqua;" >
    <pre> <h4><i>Cloud Collab                                                                         {{username}}  </i> <button><a href="login">Logout</a></button>  </h4></pre>
</table> -->
      <!-- <table class="table table-bordered" >
          <aside>
            <div *ngFor='let menu of sales'>
          <ul class="list-group">
           <li class="list-group-item" *ngIf='menu.item1'><button type="button" class="btn btn-secondary btn-lg btn-block"><a href="{{menu.item1}}/{{username}}">{{menu.item1}}</a></button></li> 
          </ul>
        </div>
          </aside> -->
      
          
          <pre style="width: 1300px;margin-left: 300px;" class="bg-primary"><h4>
            <h2 class="text-white"> <b><i>                        cloud collab technologies</i></b></h2>
            CloudCollab is a recognised industry leader in IP Voice communications. 
            Founded over a decade ago,CloudCollab has grown to become a trusted 
            partner in the Telecommunications and Network industry. We understand 
            ICT technology very well and we keep our customers and employees happy
             which in turn has a direct impact on the success of our business in 
             today’s ultra-competitive environment, we specialize in providing top
            quality broadband, voice as well as cloud based services and related 
            ICT equipment.

            What makes us unique is that we are an end–to–end provider which means 
            that when we deal with our customers, we manage whole telecom and 
            broadband infrastructures. We have proven methods that make it easy for
             our customers to understand and use our services.
            
            We use latest technologies, best practices in the industry, processes, 
            tools & frameworks, agile methods with the best talent to deliver high 
            quality products and services in the telecommunications industry.
           </h4></pre>
          <!-- </table>-->
          </div>